* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

.main-page {
  display: flex;
  justify-content: center;  /* centre horizontalement */
  align-items: center;      /* centre verticalement */
  min-height: 100vh;        /* occupe toute la hauteur de la fenêtre */
  position: relative;
  z-index: 1;               /* reste au-dessus de ta vidéo */
}

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px; 
}

.cards .red {
  background-size: cover;
  background-position: center;
  animation: slideshow 1s infinite;
}

.cards .blue {
  background-size: cover;
  background-position: center;
  animation: slideshoww 1s infinite;
}

.cards .green {
  background-size: cover;
  background-position: center;
  animation: slideshowww 1s infinite;
}

@keyframes slideshow {
  0%   { background-image: url("img/animation/layered-waves-haikei.png"); }
  25%  { background-image: url("img/animation/layered-waves-haikei\ \(1\).png"); }
  50%  { background-image: url("img/animation/layered-waves-haikei\ \(2\).png"); }
  75%  { background-image: url("img/animation/layered-waves-haikei\ \(3\).png"); }
  100% { background-image: url("img/animation/layered-waves-haikei\ \(4\).png"); }
  
}
@keyframes slideshoww {
  0%   { background-image: url("img/animation/symbol-scatter-haikei.png"); }
  25%  { background-image: url("img/animation/symbol-scatter-haikei\ \(1\).png"); }
  50%  { background-image: url("img/animation/symbol-scatter-haikei\ \(2\).png"); }
  75%  { background-image: url("img/animation/symbol-scatter-haikei\ \(3\).png"); }
  100% { background-image: url("img/animation/symbol-scatter-haikei\ \(4\).png"); }
}
@keyframes slideshowww {
  0%   { background-image: url("img/animation/layered-steps-haikei.png"); }
  25%  { background-image: url("img/animation/layered-steps-haikei\ \(1\).png"); }
  50%  { background-image: url("img/animation/layered-steps-haikei\ \(2\).png"); }
  75%  { background-image: url("img/animation/layered-steps-haikei\ \(3\).png"); }
  100% { background-image: url("img/animation/layered-steps-haikei\ \(4\).png"); }
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 450px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .9em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.background-video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* couvre tout l'écran sans déformation */
      z-index: -1; /* envoie la vidéo derrière le contenu */
    }

    /* Contenu par-dessus */
    .content {
      position: relative;
      z-index: 1; /* reste au-dessus de la vidéo */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: white;
      font-size: 3rem;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.3); /* optionnel : voile sombre */
    }