body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(75, 75, 75);
    padding: 20px;
    text-align: center;
}

nav ul.texte1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul.texte1 li {
    margin: 0 15px;
}

nav ul.texte1 li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    
}

nav ul.texte1 li a:hover {
    border-radius: 30px ;
    background-color:#000000;
}

nav ul.texte1 li.logo img {
    height: 85px;
}

main {
    padding: 40px;
}

.latest-news {
    text-align: center;
}

.latest-news h1 {
    margin-bottom: 40px;
}

.news-articles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.news-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s;
    cursor: pointer;
}

.news-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-content {
    padding: 20px;
}

.news-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.news-content p {
    margin: 0 0 10px;
    color: #555;
}

.news-content a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.news-content a:hover {
    text-decoration: underline;
}

.news-item:hover {
    transform: translateY(-10px);
}

footer {
    background-color: rgb(75, 75, 75);
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    
}